@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* common class style start */

.caps { text-transform: uppercase; }
.caps-first { text-transform: capitalize; }
.firstletter::first-letter { text-transform: capitalize; }
.background-grey { background: #414C52; }
.background-orange { background: #DC6227; }
.background-lightgrey { background: #E8EFF5; }
.background-white { background: #fff; }
.background-mediumgrey { background: #525C63; }
.font-color-black { color: #000; }
.font-color-white { color: #fff; }
.font-color-grey { color: #808C93; }
.font-color-darkgrey { color: #414C52; }
.font-color-orange { color: #DC6227; }

h3 { 
  font-size: 33px;  
  font-weight: bolder;
}

.pointerr { cursor: pointer; }
.textalignn { text-align: center; }

/* common class style end */

/*for wrapper*/

.wrapper {
  max-width: 1360px;
  width: 93.23%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: absolute;
  top: 0;
}

header .wrapper { 
  display: flex; 
  justify-content: space-between;
}

.nav-list { 
  display: flex; 
  align-items: center;
}

nav { display: flex; }

.nav-symbol { 
  display: flex;
  align-items: center; 
}

.nav-list li a { 
  padding: 16px 10px; 
  font-size: 15px;
}

.nav-list li a:hover { 
  color: #DC6227; 
  transition: .2s;
}

.nav-symbol li a { 
  padding: 20px 8px; 
  text-indent: -9999px;
  float: left;
}

.nav-symbol li a:hover { 
  color: #DC6227; 
  transition: .2s;
}

.nav-symbol li a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 26px;
}

.anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13px;
}

.selectt {
  width: 16%;
  height: 11px;
  text-indent: -9999px;
  color: #DC6227;
  outline: none;
  font-size: 26px;
  border: none;
  background: #414C52;
}

.Twitter::before { content: "\f099"; }
.Youtube::before { content: "\f167"; }
.Rfi::before { content: "\f1eb"; }
.Facebook::before { content: "\f09a"; }
.Googleplus::before { content: "\f0d5"; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner style start */

.banner {
  width: 100%;
  min-height: 609px;
  position: relative;
}

.banner ul figure {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.banner figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner { 
  display: flex;
  z-index: -1;
}

.banner ul li div {
  width: 49%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 24%;
  align-items: center;
  text-align: center;
  /* transform: translate(-30%); */
}

.slider {padding: 5px 15px;}

.slider h2 { 
  padding: 10px; 
  font-size: 34px;
  font-weight: bolder;
}

.banner ul li:not(:first-child) { display: none; }

.icon a {
  padding: 10px 1px;
  float: left;
  text-indent: -9999px;
  font-size: 28px;
}

.icon a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
}

.left-arrow::before { content: "\f053"; }
.right-arrow::before { content: "\f054"; }

/* banner style end */

/* about section style start */

.about { 
  margin: 75px 0;
  text-align: center;   
}

.about ul { 
  margin-top: 35px;
  display: flex; 
}

.about ul li { width: 36%; }
.about ul li:not(:last-child) { margin-right: 6%; }

.about figure {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about figure figcaption { 
  width: 52%;
  margin: 21px 0 25px;
  font-weight: bolder;
  font-size: 20px;
}

.about figure img { border-radius: 80px; }

.about .button {
  padding: 10px 10px;
  margin-top: 20px;
  border: 1.5px solid #c9cdd0;
  font-weight: bolder;
}

.about .button:hover {
  color: #DC6227;
  border: 1.5px solid #DC6227;
  transition: .2s;
}

/* about section style end */

/* service section style start */

.service { padding: 80px 0 40px; }

.service p { 
  font-size: 20px; 
  line-height: 1.5;
}

.service h3 { margin-bottom: 25px; }

.articles {  
  display: flex;  
  padding-top: 35px; 
}

.articles article {  
  padding: 10px 10px; 
  display: flex;
    flex-direction: column;
    align-items: center;
}

.articles article:not(:last-child) { margin-right: 3%; }

 h4 { 
  margin: 40px 0 5px 0;
  font-size: 28px; 
  font-weight: bold;
}

.articles article p { 
  font-size: 16px; 
  width: 80%;
}

.next { 
  font-family: "fontAwesome";
  text-indent: -9999px;
  float: left;
 }

article span a:hover { 
  color: #DC6227;
  transition: .2s;
}

.next:hover { 
  color: #DC6227;
  transition: .2s;
}

.next::before {
  content: "\f0da";
  font-family: "fontAwesome";
  font-size: 23px;
  text-indent: 0;
  float: left;
  color: #414C52;
  padding: 5px 0 15px 0;
}

/* service section style end */

/* ourblog section style start */
.ourblog { background: linear-gradient(to Right,#DC6227 50%, #414C52 50%); }

.ourblog .wrapper { 
  width: 100%; 
  display: flex;
}

.ourblog-section1, .ourblog-section2 { width: 50%; }
.ourblog-section1 { padding: 40px 3.5%; }
.ourblog-section2 { padding: 40px 5.5%; }

.symbol-oursection::before, .symbol-oursection::before {
  width: 76%; 
  content: "\f013";
 font-family: "fontAwesome";
 text-indent: 0;
 line-height: 2.5; 
  font-weight: bold;
}

.ourblog-section1 p { width: 80%; }
.ourblog-section1 h3, .ourblog-section2 h3 { margin-bottom: 20px; }

.ourblog-section1 .button a { 
  margin-top: 30px;
  padding: 15px; 
  border: 2px solid #fff;
  font-weight: bold;
}

.ourblog-section2 .button a { 
  margin-top: 34px;
  padding: 15px; 
  border: 2px solid #fff;
  font-weight: bold;
}

.ourblog-section1 .button a:hover { 
  color: #414C52; 
  border-color: #414C52;
  transition: .2s;
}

.ourblog-section2 .button a:hover {
  color: #DC6227;
  border-color: #DC6227;
  transition: .2s;
}

/* ourblog section style end */

/* imagebanner style start */

.imagebanner { 
  display: flex; 
  justify-content: center;
}

.imagebanner .wrapper { 
  width: 96%;
  margin: 40px 0;
  display: flex;
}

.imagebanner ul { width: 100%; }
.imagebanner ul li:not(:first-child, :last-child) { width: 14.8%; }
.imagebanner ul li:not(:last-child) {
  margin-right: 1%;
}

.imagebanner-list li a { 
  float: left;
  text-indent: -9999px;
 }

.imagebanner-list li a::before { 
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
 }

.imagebanner-leftarrow::before { content: "\f053"; }
.imagebanner-rightarrow::before { content: "\f054"; }
/* imagebanner style end */

/* contact section style start */
.contact {
  width: 100%;
  min-height: 407px;
  position: relative;

}

.contact figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contact figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* contact section style end */

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact h3 { margin: 80px 0 30px; }
.structure { display: flex; }
.structure-section1 { width: 30%; }
.structure-section2 { width: 70%; }

.structure-section1 div input { 
  width: 95%;
  line-height: 2;
}

.structure-section1 div:not(:last-child) { padding-bottom: 20px; }

.structure-section2 .textareaa {
   width: 95%;
   height: 133px;
  }

.structure-section2 .button {
  width: 97.8%;
  display: flex;
  justify-content: end;
}

.structure-section2 .button a {
  padding: 15px 25px;
  font-weight: bold;
  font-size: 20px;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  