@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* common class style start */

.caps { text-transform: uppercase; }
.caps-first { text-transform: capitalize; }
.firstletter::first-letter { text-transform: capitalize; }
.background-grey { background: #414C52; }
.background-orange { background: #DC6227; }
.background-lightgrey { background: #E8EFF5; }
.background-white { background: #fff; }
.background-mediumgrey { background: #525C63; }
.font-color-black { color: #000; }
.font-color-white { color: #fff; }
.font-color-grey { color: #808C93; }
.font-color-darkgrey { color: #414C52; }
.font-color-orange { color: #DC6227; }

h3 { 
  font-size: 33px;  
  font-weight: bolder;
}

.pointerr { cursor: pointer; }
.textalignn { text-align: center; }

/* common class style end */

/*for wrapper*/

.wrapper {
  max-width: 1360px;
  width: 93.23%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: absolute;
  top: 0;
}

header .wrapper { 
  display: flex; 
  justify-content: space-between;
}

h1 img {
  width: 200px;
  height: 112px;
}

.nav-list { 
  display: flex; 
  align-items: center;
}

nav { display: flex; }

.nav-symbol { 
  display: flex;
  align-items: center; 
}

.nav-list li a { 
  padding: 16px 7px; 
  font-size: 15px;
}

.nav-symbol li a { 
  padding: 20px 8px; 
  text-indent: -9999px;
  float: left;
}

.nav-symbol li a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 26px;
}

.anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12px 0 0;
    width: 86%;
}

.selectt {
  width: 16%;
  height: 11px;
  text-indent: -9999px;
  color: #DC6227;
  outline: none;
  font-size: 26px;
  border: none;
  background: #414C52;
}

.hamburger { display: none; }

.hamburger > span {  
  font-family: "fontAwesome"; 
  color: #808C93;
  font-size: 20px;
}

.hamburger span::after{
  position: absolute;
  top: 42px;
  right: 5%;
  content: "\f0c9";
}

.Twitter::before { content: "\f099"; }
.Youtube::before { content: "\f167"; }
.Rfi::before { content: "\f1eb"; }
.Facebook::before { content: "\f09a"; }
.Googleplus::before { content: "\f0d5"; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner style start */

.banner {
  width: 100%;
  height: 609px;
  position: relative;
}

.banner ul figure {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.banner figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner { 
  display: flex;
  z-index: -1;
}

.banner ul li div {
  width: 49%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 24%;
  align-items: center;
  text-align: center;
  /* transform: translate(-30%); */
}

.slider {padding: 5px 15px;}

.slider h2 { 
  padding: 10px; 
  font-size: 34px;
  font-weight: bolder;
}

.banner ul li:not(:first-child) { display: none; }

.icon a {
  padding: 10px 1px;
  float: left;
  text-indent: -9999px;
  font-size: 28px;
}

.icon a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
}

.left-arrow::before { content: "\f053"; }
.right-arrow::before { content: "\f054"; }

/* banner style end */

/* about section style start */

.about { 
  margin: 75px 0;
  text-align: center;   
}

.about ul { 
  margin-top: 35px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
}

.about ul li { 
  display: flex;
    align-items: center;
    flex-direction: column;
  width: 25%; 
}

.about ul li p { width: 80%; }

.about figure {
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about figure figcaption { 
  width: 76%;
  margin: 21px 0 25px;
  font-weight: bolder;
  font-size: 20px;
}

.about figure img { border-radius: 80px; }

.about .button {
  padding: 10px 10px;
  margin-top: 20px;
  border: 1.5px solid #c9cdd0;
  font-weight: bolder;
}


/* about section style end */

/* service section style start */

.service { padding: 80px 0 40px; }

.service p { 
  font-size: 20px; 
  line-height: 1.5;
}

.service h3 { margin-bottom: 25px; }

.articles {  
  display: flex;  
  padding-top: 35px; 
}

.articles article {  
  padding: 10px 10px; 
  display: flex;
    flex-direction: column;
    align-items: center;
}

.articles article:not(:last-child) { margin-right: 3%; }

 h4 { 
  margin: 40px 0 5px 0;
  font-size: 28px; 
  font-weight: bold;
}

.articles article p { 
  font-size: 16px; 
  width: 80%;
}

.next { 
  font-family: "fontAwesome";
  text-indent: -9999px;
  float: left;
 }

.next::before {
  content: "\f0da";
  font-family: "fontAwesome";
  font-size: 23px;
  text-indent: 0;
  float: left;
  color: #414C52;
  padding: 5px 0 15px 0;
}

/* service section style end */

/* ourblog section style start */
.ourblog { background: linear-gradient(to Right,#DC6227 50%, #414C52 50%); }

.ourblog .wrapper { 
  width: 100%; 
  display: flex;
}

.ourblog-section1, .ourblog-section2 { width: 50%; }
.ourblog-section1 { padding: 40px 3.5%; }
.ourblog-section2 { padding: 40px 5.5%; }

.symbol-oursection::before, .symbol-oursection::before {
  width: 76%; 
  content: "\f013";
 font-family: "fontAwesome";
 text-indent: 0;
 line-height: 2.5; 
  font-weight: bold;
}

.ourblog-section1 p { width: 80%; }
.ourblog-section1 h3, .ourblog-section2 h3 { margin-bottom: 20px; }

.ourblog-section1 .button a { 
  margin-top: 30px;
  padding: 15px; 
  border: 2px solid #fff;
  font-weight: bold;
}

.ourblog-section2 .button a { 
  margin-top: 34px;
  padding: 15px; 
  border: 2px solid #fff;
  font-weight: bold;
}

/* ourblog section style end */

/* imagebanner style start */

.imagebanner { 
  display: flex; 
  justify-content: center;
}

.imagebanner .wrapper { 
  width: 96%;
  margin: 40px 0;
  display: flex;
}

.imagebanner ul { 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagebanner ul li:not(:first-child, :last-child) { width: 14.8%; }
.imagebanner ul li:not(:last-child) { margin-right: 1%; }

.imagebanner-list li a { 
  float: left;
  text-indent: -9999px;
 }

.imagebanner-list li a::before { 
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
 }

.imagebanner-leftarrow::before { content: "\f053"; }
.imagebanner-rightarrow::before { content: "\f054"; }
/* imagebanner style end */

/* contact section style start */
.contact {
  width: 100%;
  min-height: 407px;
  position: relative;

}

.contact figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contact figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* contact section style end */

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact h3 { margin: 80px 0 30px; }
.structure { display: flex; }
.structure-section1 { width: 30%; }
.structure-section2 { width: 70%; }

.structure-section1 div input { 
  width: 95%;
  line-height: 2;
}

.structure-section1 div:not(:last-child) { padding-bottom: 20px; }

.structure-section2 .textareaa {
   width: 95%;
   height: 133px;
  }

.structure-section2 .button {
  width: 97.8%;
  display: flex;
  justify-content: end;
}

.structure-section2 .button a {
  padding: 15px 25px;
  font-weight: bold;
  font-size: 20px;
  transition: .2s;
}

/* contact section style ends */

/* contact section2 style start */

.contact2 { padding: 110px 0; }
.contact2 .wrapper {  display: flex; }

.contact2 .wrapper span {
  text-indent: -9999px;
  float: left;
}

.iconn::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 42px;
}

.location::before { content: "\f14e"; }
.e-mail::before { content: "\f0e0"; }
.call-us::before {  content: "\f095"; }

.align {
  width: 30%;
    height: 82px;
  display: flex;
  align-items: center;
}

.align:not(:last-child) { margin-right: 8%; }

.back-orange {
  width: 20%;
  height: 68px;
  display: flex;
  background: #DC6227;
  align-items: center;
  justify-content: center;
  border-radius: 38px;
  outline: 8px solid #808C93;
}

.contact2 .wrapper a { 
  width: 79%; 
  margin-left: 7%;
  font-weight: bold;
  font-size: 18px;
  transition: .2s;
}


/* contact section2 style start */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


footer { padding: 60px 0 130px; }
footer .wrapper {  display: flex; }

h5 a { 
  font-size: 34px;
  font-weight: bold;
 }

.footer-header {
  display: flex;
  margin:3% 0 2%;
}

.alignn { display: flex;
  align-items: end;
  line-height: 1.7;
}

.footer-section-left { width: 50%; }
.footer-section-right { width: 50%; }

.Social-media li { 
  padding: 2px 5px;
    margin: 3px;
}

.Social-media a {
  text-indent: -9999px;
  float: left;
  transition: .2s;
}

.Social-media a::before {
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 32px;
}

.tumbler::before { content: "\f173"; }
.twitter::before { content: "\f099"; } 
.youtube::before { content: "\f167"; }
.rfi::before { content: "\f1eb"; }
.facebook::before { content: "\f09a"; }
.googleplus::before { content: "\f2b3"; }


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/

/* media query for 1280px starts */

@media only screen and (max-width: 1280px) {

  /* common class */

  h3 { font-size: 28px; }

  /* common class end */

  /* banner start */
.banner { height: 500px; }
  /* banner section end */
}

/* media query for 995px ends */

@media only screen and (max-width: 995px) {

  /* common class */

   h3 { font-size: 26px; }

  /* common class end */

  /* header section start */
  h1 img {
    width: 170px;
    height: 80px;
}
 
.hamburger span::after { top: 32px; }

  /* header section end */

  /* banner start */

.banner { height: 450px; }
 nav { display: none; }
.nav-symbol { display: none; }
.hamburger { display: block; }

.slider h2 {
  padding: 8px;
  font-size: 25px;
}
  /* banner section end */

 /* about section start */

 .about { 
  margin: 45px 0;
  text-align: center;   
}

.about ul li { 
  width: 50%; 
  padding-bottom: 25px;
}

/* about section end */

/* service section start */
.service { padding: 60px 0 20px; }

.service p { 
  font-size: 18px; 
  line-height: 1.3;
}

.service h3 { margin-bottom: 18px; }

.articles {   
  flex-wrap: nowrap;
  padding-top: 29px; 
}

.articles article:not(:last-child) { margin-right: 3%; }

 h4 { 
  margin: 30px 0 5px 0;
  font-size: 23px; 
}

.articles article p {  font-size: 15px; }

/* service section end */

/* our blog section start */

.ourblog {
 position: relative; 
 height: 400px; 
}

.ourblog-section1 .button, .ourblog-section2 .button { 
  position: absolute; 
  bottom: 4%; 
}

.ourblog-section1 .button a , .ourblog-section2 .button a {  padding: 11px; }
.ourblog-section1 .symbol-oursection::before { line-height: 2.5; }
/* our blog section end */

/* iamge banner section start */
.imagebanner .wrapper{ margin: 15px 0; }
/* iamge banner section start */

/* contact section start */

.contact { min-height: 320px; }

.contact h3 { margin: 40px 0 15px; }

.structure-section2 .button a {
  padding: 11px 18px;
  font-size: 18px;
}

/* contact section end */

/* contact2 section start */

.contact2 { padding: 45px 0; }
.back-orange { height: 47px; }
.contact2 .wrapper a { font-size: 14px; }

/* contact2 section end */

/* footer section start */

footer { padding: 30px 0 60px; }
h5 a { font-size: 26px; }
.alignn { font-size: 14px; }
.iconn::before { font-size: 23px; }
.Social-media a::before { font-size: 24px; }
/*  footer section end */

}


/* media query for 995px ends */
/*media query for 764 hover starts here*/

@media only screen and (min-width: 764px) {

  .nav-list li a:hover { 
    color: #DC6227; 
    transition: .2s;
  }
  
  .nav-symbol li a:hover { 
    color: #DC6227; 
    transition: .2s;
  }

  .about .button:hover {
    color: #DC6227;
    border: 1.5px solid #DC6227;
    transition: .2s;
  }


article span a:hover { 
  color: #DC6227;
  transition: .2s;
}

.next:hover { 
  color: #DC6227;
  transition: .2s;
}

 
.ourblog-section1 .button a:hover { 
  color: #414C52; 
  border-color: #414C52;
  transition: .2s;
}

.ourblog-section2 .button a:hover {
  color: #DC6227;
  border-color: #DC6227;
  transition: .2s;
}


.structure-section2 .button a:hover {
  background: #fff;
  color: #DC6227;
}

.contact2 .wrapper a:hover { color: #DC6227; }

.Social-media a:hover { color: #fff; }

}

/*media query for 764 hover ends here*/

/*media query for 764 starts here*/

@media only screen and (max-width: 764px) {

/* header section start */

 /* header section end */

 /* banner section start */

.banner { height: 400px; }

 /* banner section start */

 /* about section start */

.about ul { 
  flex-direction: column;
  align-items: center;
}

.about ul li { width: 90%; }

 /* about section end */

 /* service section start */

 .articles { flex-direction: column; }
 .articles article { margin-bottom: 20px; }
 .articles article:not(:last-child) { margin-right: 0; }

 /* service section end */

 /* ourblog section start */

 .ourblog { 
  height: 666px; 
  background: linear-gradient(to bottom,#DC6227 50%, #414C52 50%);
}

.ourblog .wrapper { flex-direction: column; }
.ourblog-section1, .ourblog-section2 { width: 80%; }
.ourblog-section1 p { width: 100%; }

.ourblog-section1 .button { 
  bottom: 0; 
  top: 38%;
}

.ourblog-section2 .button { bottom: 1.5%; }
.ourblog-section2 { padding: 40px 3.5%; }

 /* our blog section end */

/* contact section start */

.back-orange { height: 33px;}

.contact2 .wrapper { 
  flex-direction: column; 
  align-items: center;
}

.contact2 .wrapper a { font-size: 18px; }
.iconn::before { font-size: 32px; }
.align:not(:last-child) { margin-right: 0; }

.align {
  width: 96%;
  height: 68px;
}

/* contact section end */

/* footer section style start */

h5 a { font-size: 20px; }
.alignn { font-size: 11px; }
.Social-media a::before { font-size: 20px; }

.Social-media li {
  padding: 2px 2px;
  margin: 2px;
}

/* footer section end */

}  

/* 780px end */

/* 480px start */
@media only screen and (max-width: 480px) {
/* header start */

/* header end */

/* banner start */

.banner { height: 320px; }

.banner ul li div {
  width: 53%;
  left: 19%;
}

.slider h2 {
  padding: 8px;
  font-size: 19px;
}

/* banner end */

/* about section start */

.about {
  margin: 28px 0 20px;
  text-align: center;
}

.about ul { margin-top: 18px; }
.about figure figcaption { margin: 16px 0 14px; }

/* about section end */

/* service section */

.service { padding: 30px 0 8px; }

/* service section end */

/* ourblog section */

.ourblog { height: 730px; }
.ourblog-section1 { padding: 24px 3.5% 39px; }

/* ourblog section end */

/* 480px end */
}

/* media query 320px */

@media screen and (max-width:320px){

/* banner start */
  .banner ul li div {
    width: 65%;
    left: 12%;
}
/* banner end */

/* contact start */
  .contact h3 { margin: 20px 0 10px; }
  .structure-section2 .textareaa { width: 79%; }
  .structure-section2 .button { width: 89.8%; }
  .contact { min-height: 277px; }
/* contact end */

/* ourblog start */

  .ourblog {  height: 803px; }
  .ourblog-section1 { width: 86%; }
  .ourblog-section2 { width: 86%; }
  .contact2 .wrapper a { font-size: 14px; }
  .contact2 .wrapper a { width: 48%; }

 /* ourblog end */ 

 /* footer start */

  h5 a { font-size: 16px; }
  .alignn { font-size: 6px; }
  .Social-media a::before { font-size: 16px; }
 
  .Social-media li {
    padding: 1px 1px;
    margin: 0.5px;
}
/* footer end */
}

/* media query 320px ends */